terraform/credentials.json

# Virtual environment
venv/

# ML deployment artifacts
ml/cough-predictor/
ml/function.zip
ml/function.zip.zip
# datasets
data/
datasets/
*.wav
*.zip
*.tar
*.gz

# ML artifacts
models/
checkpoints/
data/coughvid/