REACT_APP_AWS_REGION=ap-south-1
REACT_APP_AWS_ACCESS_KEY_ID=your_access_key
REACT_APP_AWS_SECRET_ACCESS_KEY=your_secret_key
REACT_APP_S3_BUCKET=bharatvani-audio
REACT_APP_LAMBDA_FUNCTION=bharatvani-ml-processor
REACT_APP_DYNAMODB_TABLE=bharatvani-screenings
