REACT_APP_AWS_REGION=us-east-1
REACT_APP_AWS_ACCESS_KEY_ID=your_access_key
REACT_APP_AWS_SECRET_ACCESS_KEY=your_secret_key
REACT_APP_S3_BUCKET=ivr-call-recordings-797882812707-us-east-1
REACT_APP_DYNAMODB_TABLE=bharatvani-screenings
REACT_APP_ECS_IP=your-ecs-public-ip
